<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095575038101-pk503b0mt0l00tiirt8jbd17njlb9ch7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095575038101-pk503b0mt0l00tiirt8jbd17njlb9ch7</string>
	<key>API_KEY</key>
	<string>AIzaSyCnYnEUWxYl1de2PrvtAP40N-yKDSgJ5-k</string>
	<key>GCM_SENDER_ID</key>
	<string>1095575038101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacksonz.iwfpapp</string>
	<key>PROJECT_ID</key>
	<string>iwfpapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iwfpapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095575038101:ios:8ecbcdd09258998c27939c</string>
	<key>DATABASE_URL</key>
	<string>https://iwfpapp.firebaseio.com</string>
</dict>
</plist>