## Compiled JavaScript files
**/*.js
**/*.js.map
!/*.config.js
!/src/interfaces/interfaces.js

# Typescript v1 declaration files
typings/

# Third-party packages
node_modules/

# Generated documentation
/docs
/coverage
/lib
/firestore-debug.log
/firebase-debug.log

# Logging artifact
/*.log

# Credentials
/iwfpapp-firebase-adminsdk.json