name: Merge

on:
  pull_request:
    branches:
      - "master"

jobs:
  build-doc:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install deps and compile docs
        run: |
          cd ./website
          npm install
          npm run build
  build-web:
    name: Build Web app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.9.1+hotfix.4'
          channel: 'stable'
      - run: flutter channel master && flutter upgrade
      - run: flutter config --enable-web
      - run: cd ./iwfpapp && flutter create .
      - run: cd ./iwfpapp && flutter build web
  build-android:
    name: Build Android apk
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.9.1+hotfix.4'
          channel: 'stable'
      - name: build apk package
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
        run: |
          cd ..
          git clone https://${{ secrets.MY_GITHUB_TOKEN }}@github.com/tianhaoz95/${{ secrets.SECRET_REPO }}.git
          cd ./iwfp
          export PROJ=$HOME
          ./scripts/setenv.sh
          cd ./iwfpapp
          flutter build appbundle
          flutter build apk --split-per-abi
  build-ios:
    name: Build IOS ipa
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.9.1+hotfix.4'
          channel: 'stable'
      - run: flutter channel master && flutter upgrade
      - run: cd ./iwfpapp && flutter build ios  --release --no-codesign
