name: guardians of the pull requests
on:
  pull_request:
    branches:
      - "master"
jobs:
  build-api:
    name: build api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '10.16.0'
      - name: install firebase cli
        run: npm install -g firebase-tools
      - name: install iwfpapi dependencies
        run: |
          cd ./iwfpapi/functions
          npm install
      - name: run iwfpapi build test
        run: |
          cd ./iwfpapi/functions
          npm run lint
          npm run build
          npm run e2e
  build-doc:
    name: build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install deps and compile docs
        run: |
          cd ./website
          npm install
          npm run build
  build-iwfpapp-api-doc:
    name: build iwfpapp API doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install dartdoc
        run: |
          sudo apt-get update -y
          sudo apt-get install -y apt-transport-https
          sudo sh -c 'wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
          sudo sh -c 'wget -qO- https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
          sudo apt-get update
          sudo apt-get install dart
      - name: build docs
        run: |
          cd ./iwfpapp
          export PATH="$PATH:/usr/lib/dart/bin"
          dartdoc --exclude 'dart:async,dart:collection,dart:convert,dart:core,dart:developer,dart:io,dart:isolate,dart:math,dart:typed_data,dart:ui,dart:ffi,dart:html,dart:js,dart:js_util'
  build-web:
    name: build web app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: enable flutter web
        run: flutter config --enable-web
      - name: build web
        run: |
          git clean -xffd
          cd ./iwfpapp
          flutter pub get
          flutter test
          flutter build web
  build-android:
    name: build android apk and app bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: build apk package
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          git clean -xffd
          ./scripts/setenv.sh
          cd ./iwfpapp
          flutter pub get
          flutter test
          flutter build apk --split-per-abi
          flutter build appbundle
  build-ios:
    name: build iOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter --version
      - name: build ipa
        run: |
          git clean -xffd
          cd ./iwfpapp
          flutter pub get
          flutter test
          flutter build ios --release --no-codesign
  build-macos:
    name: build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: upgrade flutter
        run: |
          flutter channel master
          flutter upgrade
          flutter config --enable-macos-desktop
      - name: clean up workspace
        run: git clean -xffd
      - name: build macOS package
        run: |
          cd ./iwfpapp
          flutter pub get
          flutter test
          flutter build macos