name: release-docs
on:
  push:
    branches: 
      - "master"
      - "actions/release-docs-*"
    paths:
      - "website/**"
      - "docs/**"
      - ".github/workflows/**"
jobs:
  deploy:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Configure git credentials
        run: |
          git config --global user.email "tianhaoz@umich.edu"
          git config --global user.name "Tianhao Zhou"
      - name: Deploy docs
        run: |
          cd ./website
          echo "machine github.com login tianhaoz95 password $GITHUB_TOKEN" > ~/.netrc
          npm install
          npm run publish-gh-pages
        env:
          GIT_USER: ${{ secrets.DOCS_GIT_USER }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
