name: Release Firebase Related
on:
  pull_request:
    branches:
      - "master"
    paths:
      - "vendors/firebase/**"
      - "scripts/build_firebase_related.sh"
      - "app/**"
      - "site/**"
  push:
    branches:
      - "master"
    paths:
      - "site/**"
      - "vendors/firebase/**"
      - "app/**"
      - ".github/workflows/release__*"
      - ".github/workflows/app__*"
      - ".github/workflows/server__*"
      - ".github/checkgroup.yml"
jobs:
  release__firebase-related:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: actions/setup-node@v1
        with:
          node-version: "12.16.2"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "1.20.2"
          channel: "stable"
      - name: build
        run: ./scripts/build_firebase_related.sh
      - name: deploy to Firebase
        working-directory: ./vendors/firebase
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_DEPLOY_TOKEN }}
        run: firebase deploy --token $FIREBASE_TOKEN
